
# Qt Creator Build Files
build-*/
*/build-*/
*.pro.user
*.pro.user.*
*.qmake.stash


*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.out
*.app

build/
debug/
release/
dist/
*.qmake.stash



*.so
*.out
*.a


*.exe
*.dll
*.pdb
*.lib
*.ilk


*.app
*.dSYM


.idea/
.vscode/
